{% extends "core/base.html" %}

{% block title %}
<header class="container px-3 px-sm-5 mt-0 mt-sm-4">
    <h1 class="d-none d-sm-block">{{announ.name}}</h1>
    <h1 class="d-block d-sm-none">{{announ.name}}</h1>
</header>
{% endblock title %}

{% load tfgs_extras%}
{% block content %}

<section class="container border bg-white p-3 p-sm-5 mt-0 mt-sm-4">
  <form action="">
    <div class="form-row justify-content-between">
      <div class="form-group fb-sm-100 mr-auto">
        <button type="submit" for="titleProject" class="btn btn-light btn-block font-weight-bold">
          <i class="fas fa-search mr-2" style="font-size: 15px;"></i>Buscador
        </button>
      </div>
      <div class="form-group mx-2 fb-60 fb-sm-85 fb-xs-80">
        {{form_filter.search_text}}
      </div>
      <div class="form-group">
        <div class="btn {% if is_filtering %}btn-warning{% else %}btn-light{% endif %} font-weight-bold" id="btn-extends-filter">
          <i class="fas fa-angle-down" {% if is_filtering %}style="display: none"{% endif %}></i>
          <i class="fas fa-angle-up" {% if not is_filtering %}style="display: none"{% endif %}></i>
        </div>
      </div>
    </div>
    <hr class="mt-0" {% if not is_filtering %}style="display:none"{% endif %}>
    <div class="form-row" id="extends-filters" {% if not is_filtering %}style="display: none"{% endif %}>
      <div class="form-group mr-lg-1 mr-auto fb-md-100">
        {{form_filter.departament}}
      </div>
      <div class="form-group mr-lg-1 mr-auto fb-md-100">
        {{form_filter.formation_project}}
      </div>
      <div class="form-group fb-md-100">
        {{form_filter.tutor}}
      </div>
    </div>
  </form>
  <article style="overflow-x: scroll">
    <table class="table table-crud border m-0">
      <thead>
        <tr class="thead-light">
          <th>Título</th>
          <th>Titulación</th>
          <th>Tutor principal</th>
          <th>Departamento</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for tfg in tfgs_list %}
        <tr>
          <td>{{tfg.title}}</td>
          <td>{{tfg.carrers.name}}</td>
          <td>{{tfg.tutor1.first_name}} {{tfg.tutor1.last_name}}</td>
          <td>{{tfg.tutor1.userinfos.departaments.name}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-light" target="_blank" href="{% url 'center_tfgs_detail' announ_id=announ.id pk=tfg.id %}?format=pdf">
                <i class="far fa-file-pdf"></i>              
              </a>
              <a class="btn btn-light" href="{% url 'center_tfgs_detail' announ_id=announ.id pk=tfg.id %}">
                <i class="far fa-eye"></i>
              </a>
              <a class="btn btn-light" href="{% url 'center_tfgs_update' announ_id=announ.id pk=tfg.id %}">
                <i class="far fa-edit"></i>
              </a>
              {% if tfg.center_validation %}
              <a class="btn btn-success" onclick="return confirm('¿Estás seguro que deseas desvalidar?');" href="{% url 'center_tfgs_validation_ok' announ_id=announ.id id=tfg.id validate=0 %}">
                <i class="fas fa-check text-light"></i>
              </a>
              {% else %}
              <a class="btn btn-light" onclick="return confirm('¿Estás seguro que deseas validar?');" href="{% url 'center_tfgs_validation_ok' announ_id=announ.id id=tfg.id validate=1 %}">
                <i class="fas fa-check text-success"></i>
              </a>
              {% endif %}
              {% if tfg.center_validation == False %}
              <a class="btn btn-danger" onclick="return confirm('¿Estás seguro que deseas desrechazar?');" href="{% url 'center_tfgs_validation_error' announ_id=announ.id id=tfg.id validate=0 %}">
                <i class="fas fa-times text-light"></i>
              </a>
              {% else %}
              <a class="btn btn-light" onclick="return confirm('¿Estás seguro que deseas rechazar?');" href="{% url 'center_tfgs_validation_error' announ_id=announ.id id=tfg.id validate=1 %}">
                <i class="fas fa-times text-danger"></i>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
  {% if is_paginated %}
  <nav>
    <ul class="pagination justify-content-center mb-0 mt-4">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% for i in paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{i}}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</section>
{% endblock content %}

{% block scripts %}
<script>
  $("#btn-extends-filter").click(function() {
    changeExtendsFiltersState($(this), $("#extends-filters"))
  });
</script>
{% endblock scripts %}