{% extends "core/base.html" %}

{% block title %}
<header class="container px-3 px-sm-5 mt-0 mt-sm-4">
    <h1 class="d-none d-sm-block">Listado de Tfgs</h1>
    <h1 class="d-block d-sm-none">Projectos</h1>
</header>
{% endblock title %}

{% block content %}
<section class="container border bg-white p-3 p-sm-5 mt-0 mt-sm-4">
    <header>
        <form action="" class="d-flex flex-wrap flex-sm-wrap justify-content-between">
            <div class="form-group mx-2 flex-grow-1 flex-sm-grow-0">
            <button for="titleProject" class="btn btn-light btn-block font-weight-bold">
                <i class="fas fa-search mr-2" style="font-size: 15px;"></i>Buscador
            </button>
            </div>
            <div class="form-group mx-2 flex-grow-1">
                {{form_filter.name_project}}
            </div>
            <div class="form-group mx-2 flex-grow-1 flex-lg-grow-0">
                {{form_filter.formation_project}}
            </div>
        </form>
    </header>
    <article style="overflow-x: scroll">
        <table class="table table-hover border m-0">
            <thead>
                <tr class="thead-light">
                    <th>Título</th>
                    <th>Títulación</th>
                    <th>Tutor1</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.carrers.name}}</td>
                    <td>{{project.tutor1.first_name}}</td>
                    <td>
                        <a href="{% url 'public_tfgs_detail' project.id %}">Visualizar</a>
                    </td>
                    <td>
                        <a target="_blank" href="{% url 'public_tfgs_detail' project.id %}?format=pdf">Imprimir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    {% if is_paginated %}
    <nav>
        <ul class="pagination justify-content-center mb-0 mt-4">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{i}}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
</section>
{% endblock content %}