{% extends "core/base.html" %}

{% load tfgs_extras%}
{% block content %}

<section class="container border bg-white p-3 p-sm-5 mt-0 mt-sm-4">
  <form action="">
    <div class="form-row justify-content-between">
      <!-- Boton añadir nuevo tfg -->
      <div class="form-group mr-auto mr-md-100 fb-sm-100 mr-sm-auto">
        <a class="btn btn-success btn-block" href="{% url 'teacher_tfgs_create' %}">
          <i class="fas fa-plus mr-2"></i>Añadir TFG
        </a>
      </div>
      <div class="form-group fb-sm-100 mr-lg-0 mr-auto">
        <button type="submit" for="titleProject" class="btn btn-light btn-block font-weight-bold">
          <i class="fas fa-search mr-2" style="font-size: 15px;"></i>Buscador
        </button>
      </div>
      <div class="form-group mx-2 fb-60 fb-sm-85 fb-xs-80">
        {{form_filter.search_text}}
      </div>
      <div class="form-group">
        <div class="btn {% if is_filtering %}btn-warning{% else %}btn-light{% endif %} font-weight-bold" id="btn-extends-filter">
          <i class="fas fa-angle-down" {% if is_filtering %}style="display: none"{% endif %}></i>
          <i class="fas fa-angle-up" {% if not is_filtering %}style="display: none"{% endif %}></i>
        </div>
      </div>
    </div>
    <hr class="mt-0" {% if not is_filtering %}style="display:none"{% endif %}>
    <div class="form-row" id="extends-filters" {% if not is_filtering %}style="display: none"{% endif %}>
      <div class="form-group mr-lg-1 mr-auto fb-md-100">
        {{form_filter.formation_project}}
      </div>
      <div class="form-group fb-md-100">
        {{form_filter.validation_state}}
      </div>
    </div>
  </form>
  <article style="overflow-x: scroll">
    <table class="table table-crud border m-0">
      <thead>
        <tr class="thead-light">
          <th>Título</th>
          <th>Tipo de Proyecto</th>
          <th>Modalidad</th>
          <th>Validación</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for tfg in tfgs_list %}
        <tr>
          <td>{{tfg.title}}</td>
          <td>{{tfg.type|tfg_type}}</td>
          <td>{{tfg.mode|tfg_mode}}</td>
          <td>
            {% if tfg.departament_validation == True and tfg.center_validation == True %}
            <i class="fas fa-check-double text-success"></i>
            {% elif tfg.departament_validation == True and  tfg.center_validation is None %}
            <i class="fas fa-check text-success"></i>
            {% elif tfg.departament_validation == False or tfg.center_validation == False %}
            <i class="fas fa-times text-danger"></i>
            {% else %}
            <i class="fas fa-question-circle text-secondary"></i>
            {% endif %}
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-light" href="{% url 'teacher_tfgs_detail' tfg.id %}?format=pdf">
                <i class="far fa-file-pdf"></i>              
              </a>
              <a class="btn btn-light" href="{% url 'teacher_tfgs_detail' tfg.id %}">
                <i class="far fa-eye"></i>
              </a>
              <a class="btn btn-light" href="{% url 'tfgs_update' tfg.id %}">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-light" onclick="return confirm('¿Estás seguro?');" href="{% url 'teacher_tfgs_delete' tfg.id %}">
                <i class="far fa-trash-alt"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
  <footer class="d-flex justify-content-end font-italic flex-wrap">
    <div class="mx-2">
      <i class="fas fa-check-double text-success"></i>
      <span>validado por departamento y centro</span>
    </div>
    <div class="mx-2">
      <i class="fas fa-check text-success"></i>
      <span>validado por departamento</span>
    </div>
    <div class="mx-2">
      <i class="fas fa-times text-danger"></i>
      <span>proyecto no aceptado</span>
    </div>
    <div class="mx-2">
      <i class="fas fa-question-circle text-secondary"></i>
      <span>Aún no validado</span>
    </div>
  </footer>
  {% if is_paginated %}
  <nav>
    <ul class="pagination justify-content-center mb-0 mt-4">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% for i in paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{i}}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</section>
{% endblock content %}

{% block scripts %}
<script>
  $("#btn-extends-filter").click(function() {
    changeExtendsFiltersState($(this), $("#extends-filters"))
  });
</script>
{% endblock scripts %}