<!--
  Template donde se renderiza el lista de TFGs del
  profesor.

  Autores:
    - Emilio Sánchez Catalán <esc00019@gmail.com>.

  Version: 1.0.
-->

{% extends "core/base.html" %}

<!-- Carga de Modulos -->
{% load tfgs_extras%}

<!-- BLoque Título -->
{% block title %}
<header class="container px-3 px-sm-5 mt-0 mt-sm-4">
  
  <!-- Título -->
  <h1 class="d-none d-sm-block">Publicaciones TFGs</h1>
  
  <!-- TItulo Móvil -->
  <h1 class="d-block d-sm-none">Publicaciones TFGs</h1>
</header>
{% endblock title %}


<!-- Bloque de Contenido -->
{% block content %}
<section class="container border bg-white p-3 p-sm-5 mt-0 mt-sm-4">

  <!-- Filtros-->
  <form action="">
    <div class="form-row justify-content-between">
      
      <!-- Boton añadir nuevo tfg -->
      <div class="form-group mr-auto mr-md-100 fb-sm-100 mr-sm-auto">
        <a class="btn btn-success btn-block" href="{% url 'teacher_tfgs_create' %}">
          <i class="fas fa-plus mr-2"></i>Añadir TFG
        </a>
      </div>
      
      <!-- Submit Filtrado -->
      <div class="form-group fb-sm-100 mr-lg-0 mr-auto">
        <button type="submit" for="titleProject" class="btn btn-light btn-block font-weight-bold">
          <i class="fas fa-search mr-2" style="font-size: 15px;"></i>Buscador
        </button>
      </div>

      <!-- Filtrado de texto -->
      <div class="form-group mx-2 fb-60 fb-sm-85 fb-xs-80">
        {{form_filter.search_text}}
      </div>

      <!-- Boton Desplegar extra filtrado -->
      <div class="form-group">
        <div class="btn {% if is_filtering %}btn-warning{% else %}btn-light{% endif %} font-weight-bold" id="btn-extends-filter">
          <i class="fas fa-angle-down" {% if is_filtering %}style="display: none"{% endif %}></i>
          <i class="fas fa-angle-up" {% if not is_filtering %}style="display: none"{% endif %}></i>
        </div>
      </div>
    </div>

    <!-- Extra filtrado -->
    <hr class="mt-0" {% if not is_filtering %}style="display:none"{% endif %}>
    <div class="form-row" id="extends-filters" {% if not is_filtering %}style="display: none"{% endif %}>

      <!-- Filtro por titulación-->
      <div class="form-group mr-lg-1 mr-auto fb-md-100">
        {{form_filter.formation_project}}
      </div>

      <!-- Filtro por estado de la validación -->
      <div class="form-group fb-md-100">
        {{form_filter.validation_state}}
      </div>
    </div>
  </form>

  <!-- Listados de TFGs -->
  <article style="overflow-x: scroll">
    <table class="table table-crud border m-0">
      <thead>
        <tr class="thead-light">
          <th>Título</th>
          <th>Tipo de Proyecto</th>
          <th>Convocatoria</th>
          <th>Validación</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for tfg in tfgs_list %}
        
        <tr>
          <!-- Información Título -->
          <td>{{tfg.title}}</td>

          <!-- Información Tipo de TFG -->
          <td>{{tfg.type|tfg_type}}</td>

          <!-- Información Convocatoria -->
          <td>{{tfg.announcements.name}}</td>

          <!-- Estado de la validación -->
          <td>
            {% if tfg.departament_validation == True and tfg.center_validation == True %}
            <i class="fas fa-check-double text-success"></i>
            {% elif tfg.departament_validation == True and  tfg.center_validation is None %}
            <i class="fas fa-check text-success"></i>
            {% elif tfg.departament_validation == False or tfg.center_validation == False %}
            <i class="fas fa-times text-danger"></i>
            {% else %}
            <i class="fas fa-question-circle text-secondary"></i>
            {% endif %}
          </td>

          <!-- Funcionalidades -->
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-light" target="_blank" href="{% url 'teacher_tfgs_detail' tfg.id %}?format=pdf">
                <i class="far fa-file-pdf"></i>              
              </a>
              <a class="btn btn-light" href="{% url 'teacher_tfgs_detail' tfg.id %}">
                <i class="far fa-eye"></i>
              </a>
              <a class="btn btn-light" href="{% url 'teacher_tfgs_update' tfg.id %}">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-light" onclick="return confirm('¿Estás seguro que deseas borrar el proyecto?');" href="{% url 'teacher_tfgs_delete' tfg.id %}">
                <i class="far fa-trash-alt"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>

  <!-- Leyenda de estados de validación -->
  <footer class="d-flex justify-content-end font-italic flex-wrap">
    <div class="mx-2">
      <i class="fas fa-check-double text-success"></i>
      <span>validado por departamento y centro</span>
    </div>
    <div class="mx-2">
      <i class="fas fa-check text-success"></i>
      <span>validado por departamento</span>
    </div>
    <div class="mx-2">
      <i class="fas fa-times text-danger"></i>
      <span>proyecto no aceptado</span>
    </div>
    <div class="mx-2">
      <i class="fas fa-question-circle text-secondary"></i>
      <span>Aún no validado</span>
    </div>
  </footer>

  <!-- Paginación -->
  {% include "core/pagination.html" %}

</section>
{% endblock content %}


<!-- Bloque Scripts -->
{% block scripts %}
<script>

  // Añadiendo evento changeExtendsFiltersState al 
  // boton desplegar extra filtrado 
  $("#btn-extends-filter").click(function() {
    changeExtendsFiltersState($(this), $("#extends-filters"))
  });
</script>
{% endblock scripts %}