{% extends "core/base.html" %}

{% block content %}
<section class="container bg-white border p-4">
    <form>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-12 col-form-label">Título*</label>
            <div class="col-sm-12">
                {{form.title}}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_itineraries" class="col-sm-12 col-form-label">Titulación*</label>
            <div class="col-sm-12">
                {{form.carrers}}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_itineraries" class="col-sm-12 col-form-label">Itinerario*</label>
            <div class="col-sm-12">
                {{form.itineraries}}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_mentions" class="col-sm-12 col-form-label">Mención*</label>
            <div class="col-sm-12">
                {{form.mentions}}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_type" class="col-sm-12 col-form-label">Tipo de proyecto*</label>
            <div class="col-sm-12">
                {{form.type}}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_mode" class="col-sm-12 col-form-label">Modalidad*</label>
            <div class="col-sm-12">
                {{form.mode}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 col-md-3 col-lg-2">Segundo tutor</div>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <span class="switch switch-sm">
                    <input type="checkbox" class="switch" id="tutorCheck">
                    <label for="tutorCheck" id="prueba"></label>
                </span>
            </div>
        </div>
        <div class="row block">
            <div class="col-sm-12">
                Tutor 2
            </div>
            <div class="pl-3 pl-sm-5 col-sm-12">
                <div class="form-group row">
                    <label for="alumnoNameInput" class="col-sm-2 col-form-label">Nombre completo:*</label>
                    <div class="col-sm-10">
                        {{tutor2_form.name}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="alumnoDireccionInput1" class="col-sm-2 col-form-label">Departamento:*</label>
                    <div class="col-sm-10">
                        {{tutor2_form.departament}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="alumnoDniInput" class="col-sm-2 col-form-label">Area:*</label>
                    <div class="col-sm-10">
                        {{tutor2_form.area}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 col-md-3 col-lg-2">Trabajo en equipo</div>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <span class="switch switch-sm">
                    {{form.is_team}}
                    <label for="id_is_team"></label>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNumberStudent" class="col-sm-12 col-form-label">Número de alumnos</label>
            <div class="col-sm-12 d-flex">
                <input type="number" value="2" min="2" class="form-control" id="inputNumberStudent" placeholder="Cantidad">
                <button type="button" id="refreshNumberStudents" class="btn btn-secondary ml-2"><i class="fas fa-sync-alt"></i></button>
            </div>
        </div>
        <div class="row" id="alumno">
            <div class="col-sm-12">
                Alumno<span class="number"></span>*
            </div>
            <div class="pl-3 pl-sm-5 col-sm-12">
                <div class="form-group row">
                    <label for="alumnoNameInput" class="col-sm-2 col-form-label">Nombre:</label>
                    <div class="col-sm-10">
                        {{student_form.name}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="alumnoDireccionInput1" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        {{student_form.email}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="alumnoDniInput" class="col-sm-2 col-form-label">DNI:</label>
                    <div class="col-sm-10">
                        {{student_form.dni}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="alumnotlfInput" class="col-sm-2 col-form-label">Telefono:</label>
                    <div class="col-sm-10">
                        {{student_form.phone}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputObjectives" class="col-sm-12 col-form-label">Objetivos*</label>
            <div class="col-sm-12">
                {{form.objectives}}
            </div>
        </div>
        <div class="form-group row">
            <label for="inputMethod" class="col-sm-12 col-form-label">Metodología*</label>
            <div class="col-sm-12">
                {{form.methodology}}
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDocsAndForms" class="col-sm-12 col-form-label">Documentos y formatos*</label>
            <div class="col-sm-12">
                {{form.docs_and_forms}}
            </div>
        </div>
        <div class="form-group row" id="id_skills">
            <div class="col-sm-12 mb-2">Capacidades</div>
            <div class="col-sm-12 row">
                {% for skill in form.skills %}
                <div class="form-check col-sm-6 form-check-label-custom">
                    {{skill}}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success ">Guardar</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <a class="btn btn-light" href="{% url back_url %}">Atras</a>
            </div>
        </div>
    </form>
</section>
{% endblock content %}

{% block scripts %}

{% load static %}
<script>
$(document).ready(function(){
    
    // Inicialización del estado del formulario
    inputShowHiddenBlockFunction($("#tutorCheck"), $("#id_name"));
    inputShowHiddenFunction($("#id_is_team"), $("#inputNumberStudent"));
    updateSelect("id_itineraries", [])
    updateSelect("id_mentions", [])
    updateSelect("id_area", [])
    updateListCheckboxes("id_skills", [])

    // Añade la funcionalidades a un evento
    // OCulta y mustra el tutor opcional
    $("#tutorCheck").click(() => {
        inputShowHiddenBlockFunction($("#tutorCheck"), $("#id_name"))
    });

    // Oculta y muestra los campos para que haya mas de un alumno
    $("#id_is_team").click(() => {
        inputShowHiddenFunction($("#id_is_team"), $("#inputNumberStudent"))
        initNoTeam($("#id_is_team"));
    });
    
    // Actualiza el número de alumnos
    $("#refreshNumberStudents").click(() => {
        generateSelect($("#inputNumberStudent"), $("#alumno"));
    });

    // Actualiza los itinerarios y menciones disponibles
    $("#id_carrers").change( function() {
        let carrer_id = $(this).val()
        getListApi("/api/itineraries", carrer_id)
            .then(response => {
                updateSelect("id_itineraries", response, "Selecciona el itinerario")
            }).catch (error => {
                alert(error)
            })
        getListApi("/api/mentions", carrer_id)
            .then(response => {
                updateSelect("id_mentions", response, "Selecciona la mención")
            }).catch( error => {
                alert(error)
            })
    })

    // Actualiza las Capacidades
    $("#id_itineraries").change(function() {
        let itineraries_id = $(this).val()
        getListApi("/api/skills", itineraries_id)
            .then(response =>{
                updateListCheckboxes("id_skills", response)
            })
            .catch(error => {
                alert(error)
            })
    })

    //Actualiza las areas
    $("#id_departament").change(function() {
        let departaments_id = $(this).val()
        getListApi("/api/areas", departaments_id)
            .then(response => {
                updateSelect("id_area", response, "Selecciona el area")
            }).catch(error => {
                alert(error)
            })
    })

    function updateListCheckboxes(block_checkbox_id, data_list) {
        if (data_list.length > 0) {
            $("#" + block_checkbox_id).css("display", "flex")
            $("#" + block_checkbox_id).children(".col-sm-12.row").empty()
            $.each(data_list, function(key, value) {
                let checkbox = $(`
                <div class="form-check col-sm-6 form-check-label-custom">
                    <label for="id_skills_${key}">
                        <input type="checkbox" name="skills" value="${value.id}" class="form-check-input" id="id_skills_${key}">
                        ${value.name} - ${value.text}
                    </label>
                </div>
                `)
                $("#" + block_checkbox_id).children(".col-sm-12.row").append(checkbox)
            })
        } else {
            $("#" + block_checkbox_id).css("display", "none")
        }
    }

    function updateSelect(select_id, data_list, empty_label="Selecciona una opción") {
        if (data_list.length > 0) {
            $("#" + select_id).closest(".form-group.row").css("display", "flex")
            $("#" + select_id).empty()
            $("#" + select_id).append($("<option></option>").attr("value", "").text(empty_label))
            $.each(data_list, function(key, value) {
                $("#" + select_id).append($("<option></option>").attr("value", value.id).text(value.name))
            })
        } else {
            $("#" + select_id).closest(".form-group.row").css("display", "none")
        }
    }

    function getListApi(full_url, pk) {
        return new Promise((resolve, reject) => {
            if ( !isNaN(parseInt(pk)) ) {

                $.ajax({
                    method: "GET",
                    url: full_url + "/" + pk,
                    success: function(data) {
                        resolve(data)
                    },
                    error: function(error) {
                        reject(error)
                    }
                })
            } else {
                resolve([])
            }
        });
    }
});
</script>
{% endblock scripts %}