{% extends "core/base.html" %}

{% load login_extras tfgs_extras%}

{% block content %}
<section class="container border bg-white p-4 position-relative">
    {% if can_validate %}
    <div class="row button-validate-abs d-none d-sm-flex">
        <div class="col-sm-12 text-right">
            <a class="btn btn-danger" onclick="return confirm('¿Estás seguro?');" href="{% url validation_url id=tfgs.id validate=0 %}">Rechazar</a>
            <a class="btn btn-success" onclick="return confirm('¿Estás seguro?');" href="{% url validation_url id=tfgs.id validate=1 %}">Validar</a>
        </div>
    </div>
    {% endif %}
    <div class="row {%if can_validate %}w-75 w-xs-100 {% endif%}">
        <div class="col-md-12">
            <strong>Título:</strong>
            <p>{{tfgs.title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Titulación:</strong> {{tfgs.carrers.name}}
            </p>
        </div>
    </div>
    {% if tfgs.itineraries %}
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Itinerario:</strong> {{tfgs.itineraries.name}}
            </p>
        </div>
    </div>
    {% endif %}
    {% if  tfgs.mentions %}
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Mención:</strong> {{tfgs.mentions.name}}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Tipo de proyecto:</strong> {{tfgs.type|tfg_type}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Modalidad:</strong> {{tfgs.mode|tfg_mode}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <strong>Tutor principal:</strong>
                <p class="pl-4 mt-1">
                    Nombre: {{tfgs.tutor1.first_name}} {{tfgs.tutor1.last_name}}<br>
                    Departemento: {{tfgs.tutor1.id|user_departament}} <br>
                    Area: {{tfgs.tutor1.id|user_area}}
                </p>
        </div>
    </div>
    {% if tfgs.tutor2 %}
    <div class="row">
        <div class="col-md-12">
                <strong>Segundo tutor:</strong>
                <p class="pl-4 mt-1">
                    Nombre: {{tfgs.tutor2.name}} <br>
                    Departemento: {{tfgs.tutor2.departament.name}} <br>
                    Area: {{tfgs.tutor2.area.name}} <br>
                    {% if tfgs.tutor2.curriculum_vitae %}
                    CV: <a href="{{tfgs.tutor2.curriculum_vitae.url}}">pinche aquí para acceder</a>
                    {% endif %}
                </p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Trabajo en equipo:</strong> {{tfgs.is_team|yesno:"Si, No"}}
            </p>
        </div>
    </div>
    {% if not tfgs.is_team and students%}
    {% for student in students %}
    <div class="row">
        <div class="col-md-12">
                <strong>Alumno</strong>
                <p class="pl-4 mt-1">
                    Nombre: {{student.name}} <br>
                    DNI: {{student.dni}} <br>
                    Teléfono: {{student.phone}} <br>
                    Correo-e: {{student.email}} <br>
                </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for student in students %}
    <div class="row">
        <div class="col-md-12">
                <strong>Alumno {{forloop.counter }}</strong>
                <p class="pl-4 mt-1">
                    Nombre: {{student.name}} <br>
                    DNI: {{student.dni}} <br>
                    Teléfono: {{student.phone}} <br>
                    Correo-e: {{student.email}} <br>
                </p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <strong>Objetivos:</strong>
            <p class="pl-4 mt-1">{{tfgs.objectives}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Metodología:</strong>
            <p class="pl-4 mt-1">{{tfgs.methodology}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Documentos y formatos:</strong>
            <p class="pl-4 mt-1">{{tfgs.docs_and_forms}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Capacidades:</strong>
            <ul class="mt-1">
                {% for skill in tfgs.skills.all %}
                <li>
                    <p>
                        {{skill.name}} - {{skill.text}}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row w-50 d-inline-flex mb-sm-0 {% if can_validate == True %}mb-5{% endif %}">
        <div class="col-sm-12">
            <a class="btn btn-light" href="{% url back_url %}">Atras</a>
        </div>
    </div>
    {% if can_validate %}
    <div class="row w-50 d-none d-sm-inline-flex">
        <div class="col-sm-12 mt-3 text-right">
            <a class="btn btn-danger" onclick="return confirm('¿Estás seguro?');" href="{% url validation_url id=tfgs.id validate=0 %}">Rechazar</a>
            <a class="btn btn-success" onclick="return confirm('¿Estás seguro?');" href="{% url validation_url id=tfgs.id validate=1 %}">Validar</a>
        </div>
    </div>
    <div class="fixed-bottom bar-validator d-sm-none border p-2">
        <a class="btn btn-danger" onclick="return confirm('¿Estás seguro?');" href="{% url validation_url id=tfgs.id validate=0 %}">Rechazar</a>
        <a class="btn btn-success" onclick="return confirm('¿Estás seguro?');" href="{% url validation_url id=tfgs.id validate=1 %}">Validar</a>
    </div>
    {% endif %}
</section>
{% endblock content %}