<!--
    Template dedicado a la vista crear del TFG.

    Autores:
        - Emilio Sánchez Catalán <esc00019@gmail.com>.

    Version: 1.0.
-->

{% extends "tfgs/tfgs_form.html" %}

<!-- Carga de Modulos -->
{% load static %}

<!-- Bloque Scripts -->
{% block scripts %}
<script>
$(document).ready(function(){
    
    // Inicialización del estado del formulario
    inputShowHiddenBlockFunction($("#tutorCheck"), $("#id_tutor2-name"));
    inputShowHiddenBlockFunction($("#id_is_team"), $("#id_team_memory"));
    updateSelect("id_itineraries", []);
    updateSelect("id_mentions", []);
    updateSelect("id_tutor2-area", []);
    updateListCheckboxes("id_skills", []);
    setStudentsTfg();
    cleanFileFieldRequired("curriculum_vitae", "tutor2");
    cleanFileFieldRequired("team_memory");

    // Añade la funcionalidades a un evento
    // OCulta y mustra el tutor opcional
    $("#tutorCheck").click(() => {
        inputShowHiddenBlockFunction(
            $("#tutorCheck"),
            $("#id_tutor2-name"),
            [
                $("#tutor2-curriculum_vitae-clear_id"),
                $("#id_tutor2-curriculum_vitae")
            ]
        );
    });

    // Oculta y muestra los campos para que haya mas de un alumno
    $("#id_is_team").click(() => {
        setStudentsTfg()
        inputShowHiddenBlockFunction($("#id_is_team"), $("#id_team_memory"));
    });

    // Asignación de Alumnos
    $("#alumnoCheck").click(() => {
        setStudentsTfg()
    });

    // Actualiza los itinerarios y menciones disponibles
    $("#id_carrers").change( function() {
        let carrer_id = $(this).val();
        getListApi("/api/itineraries", carrer_id)
            .then(response => {
                updateSelect("id_itineraries", response, "Selecciona el itinerario");
            }).catch (error => {
                alert(error);
            })
        getListApi("/api/mentions", carrer_id)
            .then(response => {
                updateSelect("id_mentions", response, "Selecciona la mención");
            }).catch( error => {
                alert(error);
            })
    })

    // Actualiza las Capacidades
    $("#id_itineraries").change(function() {
        let itineraries_id = $(this).val();
        getListApi("/api/skills", itineraries_id)
            .then(response =>{
                updateListCheckboxes("id_skills", response);
            })
            .catch(error => {
                alert(error);
            });
    });

    //Actualiza las areas
    $("#id_tutor2-departament").change(function() {
        let departaments_id = $(this).val()
        getListApi("/api/areas", departaments_id)
            .then(response => {
                updateSelect("id_tutor2-area", response, "Selecciona el area");
            }).catch(error => {
                alert(error);
            })
    });
});
</script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock scripts %}