<!-- 
    Template que confirma el inicio del reseteo de contraseña

    Autores:
        - Emilio Sánchez Catalán <esc00019@gmail.com>.

    Version: 1.0.
-->

{% extends "core/base.html" %}

<!-- Carga de Modulos-->
{% load static %}

<!-- Bloque de Contenido -->
{% block content %}
<div class="d-flex form-signin text-center">
        <form action="" method="POST">
            {% csrf_token %}
            <img class="logo-img-singnin mb-5" src="{% static 'core/img/logo_universidad.png' %}">
            
            <p>
                Te hemos enviado un correo con un enlace para reestablecer tu contraseña
            </p>
            <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
        </form>
</div>
{% endblock content %}