<!-- 
    Template para establecer una nueva contraseña.

    Autores:
        - Emilio Sánchez Catalán <esc00019@gmail.com>.

    Version: 1.0.
-->

{% extends "core/base.html" %}

<!-- Carga de Modulos-->
{% load static %}

<!-- Bloque de Contenido -->
{% block content %}
<div class="d-flex form-signin text-center">
    <form action="" method="POST">
        {% csrf_token %}
        <img class="logo-img-singnin mb-5" src="{% static 'core/img/logo_universidad.png' %}">
        
        {% if validlink %}
        <!-- Nueva Contraseña -->
        <label for="id_new_password1" class="sr-only">Nueva Contraseña:</label>
        {{form.new_password1}}

        <!-- Nueva Contraseña Repetida -->
        <label for="id_new_password2" class="sr-only">Confirme Contraseña:</label>
        {{form.new_password2}}
        
        <!-- Boton Submit -->
        <button class="btn btn-lg btn-secondary btn-block mt-4" type="submit">Recuperar</button>
        {% else %}
        <p class="text-center">Enlace ya no es valido, pruebe otra vez</p>
        {% endif %}
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
</div>
{% endblock content %}