<!--
    Template con el que se generará el contenido del mensaje de
    correo electronico generado, con el enlace de reseteo de contraseña.

    Autores:
        - Emilio Sánchez Catalán <esc00019@gmail.com>.

    Version: 1.0.
-->
Solicitaste resetear la contraseña.
Haz click en el siguiente enlace para crear tu nueva contraseña.

{% block reset_link %}
{{protocol}}://{{domain}}{% url 'reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}

Tu nombre de usuario es: {{user.get_username}}