<!--
  Template donde se renderiza la el lista de convocatorias de tfms

  Autores:
    - Emilio Sánchez Catalán <esc00019@gmail.com>.

  Version: 1.0.
-->

{% extends "core/base.html" %}

<!-- Carga de Modulos -->
{% load announcements_extras %}

<!-- BLoque Título -->
{% block title %}
<header class="container px-3 px-sm-5 mt-0 mt-sm-4">

  <!-- Título -->
  <h1 class="d-none d-sm-block">Convocatorias TFMs</h1>

  <!-- TItulo Móvil -->
  <h1 class="d-block d-sm-none">Convocatorias TFMs</h1>
</header>
{% endblock title %}

<!-- Bloque de Contenido -->
{% block content %}
<section class="container border bg-white p-3 p-sm-5 mt-0 mt-sm-4">

  <!-- Filtros-->
  <form action="">
    <div class="form-row justify-content-between">

      <!-- Boton añadir nueva convocatoria -->  
      <div class="form-group mr-auto mr-md-100 fb-sm-100 mr-sm-auto">
        <a class="btn btn-success btn-block" href="{% url 'announ_tfms_create' %}">
          <i class="fas fa-plus mr-2"></i>Convocatoria
        </a>
      </div>

      <!-- Submit Filtrado -->
      <div class="form-group fb-sm-100 mr-lg-0 mr-auto">
        <button type="submit" for="titleProject" class="btn btn-light btn-block font-weight-bold">
          <i class="fas fa-search mr-2" style="font-size: 15px;"></i>Buscador
        </button>
      </div>

      <!-- Filtrado de texto -->
      <div class="form-group mx-2 fb-60 fb-sm-85 fb-xs-80">
        {{form_filter.name}}
      </div>
    </div>
  </form>

  <!-- Listados de Convocatorias -->
  <article style="overflow-x: scroll">
    <table class="table table-crud border m-0">
      <thead>
        <tr class="thead-light">
          <th>Nombre</th>
          <th>Estado Actual</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for announ in object_list  %}
        <tr>

          <!-- Información Nombre -->
          <td>{{announ.name}}</td>

          <!-- Información del Estado -->
          <td>{{announ.status|announ_tfm_status}}</td>

          <!-- Funcionalidades -->
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-light" href="{% url 'center_tfms_list' announ.id %}">
                <i class="fas fa-sign-in-alt"></i>
              </a>
              <a class="btn btn-light" href="{% url 'announ_tfms_update' announ.id %}">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-light" onclick="return confirm('¿Estás seguro que lo deseas abrir al público?');" href="{% url 'announ_tfms_status_public' announ.id %}">
                <i class="fas fa-door-open"></i>
              </a>
              <a class="btn btn-light" onclick="return confirm('¿Estás seguro que lo deseas cerrar?');" href="{% url 'announ_tfms_status_close' announ.id %}">
                <i class="fas fa-door-closed"></i>              
              </a>
              <a class="btn btn-light" onclick="return confirm('¿Estás seguro que lo deseas eliminar?');" href="{% url 'announ_tfms_delete' announ.id %}">
                <i class="far fa-trash-alt"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>

  <!-- Paginación -->
  {% include "core/pagination.html" %}

</section>
{% endblock content %}