{% extends "core/base.html" %}

{% load static %}

<!-- Content -->
{% block content %}
  <section class="container border p-4">
    <form>
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-12 col-form-label">Título</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="inputTitle" placeholder="Título">
        </div>
      </div>
      <div class="form-group row">
        <label for="typeSelect" class="col-sm-12 col-form-label">Tipo de proyecto</label>
        <div class="col-sm-12">
          <select type="password" class="form-control" id="typeSelect" placeholder="Tipo">
            <option>Selecciona tipo</option>
            <option>General</option>
            <option>Especifico</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="modeSelect" class="col-sm-12 col-form-label">Modalidad</label>
        <div class="col-sm-12">
          <select class="form-control" id="modeSelect" placeholder="Modalidad">
            <option>Selecciona modalidad</option>
            <option>Proyecto de ingenieria</option>
            <option>Trabajo técnico</option>
            <option>Trabajo teórico/experimental </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
          <label for="menthionSelect" class="col-sm-12 col-form-label">Mención</label>
          <div class="col-sm-12">
            <select class="form-control" id="menthionSelect" placeholder="Modalidad">
              <option>Selecciona la mención</option>
              <option>Imagen y sonido</option>
              <option>Sistemas de telecomunicación</option>
            </select>
          </div>
        </div>
      <div class="form-group row">
        <div class="col-sm-4 col-md-3 col-lg-2">Segundo tutor</div>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <span class="switch switch-sm">
            <input type="checkbox" class="switch" id="tutorCheck">
            <label for="tutorCheck" id="prueba"></label>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="tutorInput" class="col-sm-12 col-form-label">Tutor 2</label>
        <div class="col-sm-12">
          <select class="form-control" id="tutorInput" placeholder="Modalidad">
            <option>Selecciona el tutor</option>
            <option>Emilio Sánchez Catalán | esc00019</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4 col-md-3 col-lg-2">Trabajo en equipo</div>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <span class="switch switch-sm">
            <input type="checkbox" class="switch" id="teamCheck">
            <label for="teamCheck"></label>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputNumberStudent" class="col-sm-12 col-form-label">Número de alumnos</label>
        <div class="col-sm-12 d-flex">
          <input type="number" value="2" min="2" class="form-control" id="inputNumberStudent" placeholder="Cantidad">
          <button type="button" id="refreshNumberStudents" class="btn btn-secondary ml-2"><i class="fas fa-sync-alt"></i></button>
        </div>
      </div>
      <div class="row" id="alumno">
        <div class="col-sm-12">
          Alumno<span class="number"></span>
        </div>
        <div class="pl-3 pl-sm-5 col-sm-12">
          <div class="form-group row">
            <label for="alumnoNameInput" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
              <input type="text" name="name" id="alumnoNameInput" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="alumnoDireccionInput1" class="col-sm-2 col-form-label">Dirección:</label>
            <div class="col-sm-10">
              <input type="text" name="address" id="alumnoDireccionInput" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="alumnoDniInput" class="col-sm-2 col-form-label">DNI:</label>
            <div class="col-sm-10">
              <input type="text" name="dni" id="alumnoDniInput" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="alumnotlfInput" class="col-sm-2 col-form-label">Teléfono:</label>
            <div class="col-sm-10">
              <input type="text" name="tlf" id="alumnotlfInput" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputObjectives" class="col-sm-12 col-form-label">Objetivos</label>
        <div class="col-sm-12">
          <textarea class="form-control" id="inputObjectives"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMethod" class="col-sm-12 col-form-label">Metodología</label>
        <div class="col-sm-12">
          <textarea class="form-control" id="inputMethod"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDocsAndForms" class="col-sm-12 col-form-label">Documentos y formatos</label>
        <div class="col-sm-12">
          <textarea class="form-control" id="inputDocsAndForms"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">Capacidades</div>
        <div class="col-sm-12 row">
          <div class="form-check col-sm-6">
            <input class="form-check-input" type="checkbox" id="skill1">
            <label class="form-check-label form-check-label-custom" for="skill1">
              TEL1 - Capacidad de construir, explotar y gestionar las redes, servicios, procesos y aplicaciones de telecomunicaciones, entendidas éstas como sistemas de captación, transporte, representación, procesado, almacenamiento, gestión y presentación de información multimedia, desde el punto de vista de los servicios telemáticos.
            </label>
          </div>
          <div class="form-check col-sm-6">
            <input class="form-check-input" type="checkbox" id="skill2">
            <label class="form-check-label form-check-label-custom" for="skill2">
              TEL2 - Capacidad para aplicar las técnicas en que se basan las redes, servicios y aplicaciones telemáticas, tales como sistemas de gestión, señalización y conmutación, encaminamiento y enrutamiento, seguridad (protocolos criptográficos, tunelado, cortafuegos, mecanismos de cobro, de autenticación y de protección de contenidos), ingeniería de tráfico (teoría de grafos, teoría de colas y teletráfico) tarificación y fiabilidad y calidad de servicio, tanto en entornos fijos, móviles, personales, locales o a gran distancia, con diferentes anchos de banda, incluyendo telefonía y datos.
            </label>
          </div>
          <div class="form-check col-sm-6">
            <input class="form-check-input" type="checkbox" id="skill3">
            <label class="form-check-label form-check-label-custom" for="skill3">
              TEL3 - Capacidad de construir, explotar y gestionar servicios telemáticos utilizando herramientas analíticas de planificación, de dimensionado y de análisis.
            </label>
          </div>
          <div class="form-check col-sm-6">
            <input class="form-check-input" type="checkbox" id="skill4">
            <label class="form-check-label form-check-label-custom" for="skill4">
              TEL4 - Capacidad de describir, programar, validar y optimizar protocolos e interfaces de comunicación en los diferentes niveles de una arquitectura de redes.
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success ">Guardar</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <a class="btn btn-light" href="index.html">Atras</a>
        </div>
      </div>
    </form>
  </section>
{% endblock content %}

<!-- Scripts -->
{% block scripts %}
  <script src="{% static 'core/js/main.js' %}"></script>
{% endblock scripts %}