<!--
  Template base donde se renderizará todo el contenido.

  Autores:
    - Emilio Sánchez Catalán <esc00019@gmail.com>.

  Version: 1.0.
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Estilos CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/custom_ckeditor.css' %}">
    <title>Projectos Uja</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'core/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>

  </head>
  <body>
    <!-- Navbar -->
    {% load login_extras %}
    
    <!-- Navbar cuando se esta autenticado -->
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">

      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <img class="logo-img" src="{% static 'core/img/logo_uja_negativo.png' %}" alt="logo ujaen">
      </a>
      
      <!-- Boton Menu Responsive -->
      <button class="navbar-toggler btn btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Items del Navbar -->
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          <!-- Enlace al TFG -->
          <li class="nav-item {% if nbar == 'tfg' %}active{% endif %}">

            <!-- TFG para Profesores -->
            {% if user|has_group:"Teachers"%}
            <a class="nav-link dropdown-toggle" id="navbarTfgDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              TFG
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarTfgDropdown">
              <a class="dropdown-item" href="{% url 'teacher_tfgs_list' %}">Publicados</a>
              <a class="dropdown-item" href="{% url 'teacher_draft_tfgs_list' %}">Borrador</a>
            </div>

            <!-- TFG para Departamento -->
            {% elif user|has_group:"Departaments"%}
            <a class="nav-link" href="{% url 'departament_tfgs_list' %}">TFG</a>

            <!-- TFG para Centros -->
            {% elif user|has_group:"Centers"%}
            <a class="nav-link" href="{% url 'announ_tfgs_list' %}">TFG</a>
            {% endif %}
          </li>

          <!-- Enlace al TFM -->
          <li class="nav-item {% if nbar == 'tfm' %}active{% endif %}">

            <!-- TFM para Profesores -->
            {% if user|has_group:"Teachers"%}
            <a class="nav-link dropdown-toggle" id="navbarTfmDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              TFM
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarTfmDropdown">
              <a class="dropdown-item" href="{% url 'teacher_tfms_list' %}">Publicados</a>
              <a class="dropdown-item" href="{% url 'teacher_draft_tfms_list' %}">Borrador</a>
            </div>

  
            <!-- TFM para Departamentos -->
            {% elif user|has_group:"Departaments"%}
            <a class="nav-link" href="{% url 'departament_tfms_list' %}">TFM</a>
            
            <!-- TFM para Centros -->
            {% elif user|has_group:"Centers"%}
            <a class="nav-link" href="{% url 'announ_tfms_list' %}">TFM</a>
            {% endif %}
          </li>

          {% if user|has_group:"Centers"%}
          <!-- Boton de cierre de sesión -->
          <li class="nav-item" id="logoutMenu">
            <a class="nav-link" href="{% url 'userinfo_edit' user.userinfos.centers.id %}">Info Centro</a>
          </li>
          {% endif %}

          <!-- Información de centro -->
          <li class="nav-item" id="logoutMenu">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        </ul>

        <!-- Boton de configuración -->
        <div class="btn-group ml-auto" id="logoutButton">
          <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i>
          </button>
          
          <!-- Boton de cerrar sesión -->
          <div class="dropdown-menu dropdown-menu-right">
            {% if user|has_group:"Centers"%}
            <a class="dropdown-item" href="{% url 'userinfo_edit' user.userinfos.centers.id %}">Info Centro</a>
            {% endif %}
            <a class="dropdown-item text-danger" href="{% url 'logout' %}">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </nav>
    {% else %}

    <!-- Navbar cunado no estas autenticado -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">

      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <img class="logo-img" src="{% static 'core/img/logo_uja_negativo.png' %}" alt="logo ujaen">
      </a>

      <!-- Boton de incio de sesión -->
      <a class="btn btn-outline-light ml-auto" href="{% url 'login' %}">Login</a>
    </nav>
    {% endif %}

    <!-- Messages de Alerta -->
    {% if messages %}
    {% for message in messages %}
    <div class="container my-1 alert alert-{% if message.tags %}{{ message.tags }}{% endif %} fade show" role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Titulo -->
    {% block title %}{% endblock title %}
    
    <!-- Contenido -->
    {% block content %}{% endblock content %}

    <!-- Scripts -->
    {% block scripts %}{% endblock scripts %}

    <script>
      $(document).ready(function() {
        
        // Inicialización de popover
        $('[data-toggle="popover"]').popover()

      });
    </script>
  </body>
</html>