<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link href="{% static 'core/css/custom_ckeditor.css' %}" rel="stylesheet">
    <title>Projectos Uja</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'core/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>

  </head>
  <body>
    <!-- Navbar -->
    {% load login_extras %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img class="logo-img" src="{% static 'core/img/logo_uja_negativo.png' %}" alt="logo ujaen">
      </a>
      <button class="navbar-toggler btn btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item {% if nbar == 'tfg' %}active{% endif %}">
            {% if user|has_group:"Teachers"%}
            <a class="nav-link dropdown-toggle" id="navbarTfgDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              TFG
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarTfgDropdown">
              <a class="dropdown-item" href="{% url 'teacher_tfgs_list' %}">Publicados</a>
              <a class="dropdown-item" href="{% url 'teacher_draft_tfgs_list' %}">Borrador</a>
            </div>
            {% elif user|has_group:"Departaments"%}
            <a class="nav-link" href="{% url 'departament_tfgs_list' %}">TFG</a>
            {% elif user|has_group:"Centers"%}
            <a class="nav-link" href="{% url 'center_tfgs_list' %}">TFG</a>
            {% endif %}
          </li>
          <li class="nav-item {% if nbar == 'tfm' %}active{% endif %}">
            {% if user|has_group:"Teachers"%}
            <a class="nav-link" href="{% url 'teacher_tfms_list' %}">TFM</a>
            {% elif user|has_group:"Departaments"%}
            <a class="nav-link" href="{% url 'departament_tfms_list' %}">TFM</a>
            {% elif user|has_group:"Centers"%}
            <a class="nav-link" href="{% url 'center_tfms_list' %}">TFM</a>
            {% endif %}
          </li>
          <li class="nav-item" id="logoutMenu">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        </ul>
        <div class="btn-group ml-auto" id="logoutButton">
          <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-danger" href="{% url 'logout' %}">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img class="logo-img" src="{% static 'core/img/logo_uja_negativo.png' %}" alt="logo ujaen">
      </a>
      <a class="btn btn-outline-light ml-auto" href="{% url 'login' %}">Login</a>
    </nav>
    {% endif %}

    <!-- Messages -->
    {% if messages %}
    {% for message in messages %}
    <div class="container my-1 alert alert-{% if message.tags %}{{ message.tags }}{% endif %} fade show" role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Title -->
    {% block title %}{% endblock title %}
    
    <!-- Content -->
    {% block content %}{% endblock content %}

    <!-- Scripts -->
    {% block scripts %}{% endblock scripts %}

    <script>
      $(document).ready(function() {
        {% comment %} setTimeout(() => {
          $(".alert").alert("close")
        }, 3000); {% endcomment %}

        $('[data-toggle="popover"]').popover()

      });
    </script>
  </body>
</html>