<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "message": "Esta web usa cookies propias y de terceros para ofrecerle una navegación más personalizada. Si continúa navegando, está aceptando el uso de las cookies. Para más información consulte la Política de Cookies de la Universidad de Jaén. ",
    "dismiss": "Aceptar",
    "link": "Mas información",
    "href": "https://www.ujaen.es/politica-de-cookies"
  }
})});
</script>