<footer role="contentinfo" style="margin-top: 150px;">
    <div class="uja-footer">
        <div class="uja-footer-inner">
            <div class="uja-footer-row">
                <div class="uja-footer__menu menu-gobiernoyservicios">
                    <nav aria-labelledby="footer-menu-gobierno">
                        <h2 id="footer-menu-gobierno" class="uja-footer__menu-title">UJA</h2>
                        <ul class="uja-footer__menu-list">
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/la-universidad/equipo-de-gobierno">Equipo de Gobierno</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/gobierno/vicplan/secretariado-de-responsabilidad-social">Responsabilidad Social</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/gobierno/planeuja">Plan Estratégico</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/la-universidad/campus-de-excelencia">Campus de Excelencia</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/gobierno/ptransparencia">Portal de Transparencia</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://administracionelectronica.ujaen.es/">Trámites / Administración Electrónica</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios">Servicios Administrativos</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://editorial.uja.es/">UJA Editorial</a></li>
                            <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://150.214.174.2/fundacion/">Fundación Universidad de Jaén-Empresa</a></li>
                        </ul>
                    </nav>
                </div>
            <div class="uja-footer__menu menu-vidaenelcampus">
            <nav aria-labelledby="footer-menu-vidaenelcampus">
                <h2 id="footer-menu-vidaenelcampus" class="uja-footer__menu-title">Vida en los Campus</h2>
                <ul class="uja-footer__menu-list">
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/la-universidad/los-campus">Los Campus</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/cultura-y-deporte/deporte">Deporte</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/cultura-y-deporte/cultura">Cultura</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios/biblio">Biblioteca</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios/defensor">Defensor Universitario</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://cmds.ujaen.es">Colegio Mayor</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/gobierno/vicest/asociaciones-de-estudiantes">Asociaciones de Estudiantes</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios/gpsicologia/">Gabinete de Psicología</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios/uigualdad">Unidad de Igualdad</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujacomedor.elgambero.com/">Comedor Universitario</a></li>
                </ul>
            </nav>
        </div>
        <div class="clearfix hidden-lg-up"></div>
        <div class="uja-footer__menu menu-recursos">
            <nav aria-labelledby="footer-menu-recursos">
                <h2 id="footer-menu-recursos" class="uja-footer__menu-title">Recursos</h2>
                <ul class="uja-footer__menu-list">
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://dv.ujaen.es/">Docencia Virtual</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="https://uvirtual.ujaen.es/srv/es/index">Universidad Virtual</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/estudios/acceso-y-matricula/secretaria-virtual">Secretaría Virtual</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios/servinfo/anuncios">Tablón Digital</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://empleo.uja.es/">Empleo, Prácticas y Emprendimiento</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios/uconserjerias/catalogo-de-servicios/gestion-y-reserva-de-espacios">Reserva de Espacios</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/la-universidad/servicios-tic">Servicios TIC</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/apps">Aplicaciones Móviles</a></li>
                </ul>
            </nav>
        </div>
        <div class="uja-footer__menu menu-comunicacion">
            <nav aria-labelledby="footer-menu-comunicacion">
                <h2 id="footer-menu-comunicacion" class="uja-footer__menu-title">Comunicación</h2>
                <ul class="uja-footer__menu-list">
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/gobierno/viccom">Comunicación y Proyección Institucional</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://eventos.ujaen.es/">Agenda UJA</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://diariodigital.ujaen.es/">Diario Digital</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://uniradio.ujaen.es/">UniRadio Jaén</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://tv.ujaen.es/">Repositorio Audiovisual</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="https://www.flickr.com/photos/101992261@N07/albums/">Galería de Fotos</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/servicios/ucc">Divulgación Científica</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://www.ujaen.es/gobierno/viccom/identidad-corporativa">Identidad Corporativa</a></li>
                    <li class="uja-footer__menu-item"><a class="uja-footer__menu-link" href="http://tiendauja.es/">Tienda UJA</a></li>
                </ul>
            </nav>
        </div>

        <div class="uja-footer__separator"><hr class="separator_dark"></div>

        <div class="uja-footer__datoscontacto">
            <div class="uja-footer__datos-contacto-inner">
                <div class="icon uja-footer__logo-uja">Logotipo de la Universidad de Jaén</div>
                <div class="uja-footer__vcard vcard">
                    <div class="org hidden">Universidad de Jaén</div>
                    <div class="adr">
                        <span class="street-address">Campus Las Lagunillas s/n</span>.
                        <span class="postal-code">23071</span> -
                        <span class="locality">Jaén</span>
                    </div>
                    <div class="tel"><span class="type">Teléfono:</span> <span class="value">+34 953 212121</span></div>
                    <div class="tel"><span class="type">Fax:</span> <span class="value">+34 953 212121</span></div>
                    <div class="email"><a class="link-grey" title="Enviar un correo electrónico a info@ujaen.es" href="mailto:info@ujaen.es">info@ujaen.es</a></div>
                </div>
            </div>
        </div>
        <div class="uja-footer__group-copyright-and-social">
            <div class="uja-footer__copyright">
                <nav aria-labelledby="footer-utilities-menu">
                    <h3 id="footer-utilities-menu" class="visually-hidden-text">Utilidades</h3>
                    <ul>
                        <li class="uja-footer__copyright-menu-item"><a class="uja-footer__copyright-menu-link" href="http://www.ujaen.es/mapa">Mapa</a></li>
                        <li class="uja-footer__copyright-menu-item"><a class="uja-footer__copyright-menu-link" href="http://www.ujaen.es/accesibilidad">Accesibilidad</a></li>
                        <li class="uja-footer__copyright-menu-item"><a class="uja-footer__copyright-menu-link" href="http://www.ujaen.es/aviso-legal">Aviso Legal</a></li>
                        <li class="uja-footer__copyright-menu-item"><a class="uja-footer__copyright-menu-link" href="http://administracionelectronica.ujaen.es/node/129">Quejas y Sugerencias</a></li>
                    </ul>
                </nav>
            </div>

            <div class="uja-footer__menu-social">
                <nav aria-labelledby="footer-social-menu">
                    <h3 id="footer-social-menu" class="visually-hidden-text">Redes sociales</h3>
                    <ul>
                        <li><a class="icon icon-social icon-social_facebook" href="http://www.facebook.com/pages/Jaen-Spain/Universidad-de-Jaen/83365703987" target="_blank" title="El enlace se abrirá en una nueva ventana">Perfil de Facebook de la Universidad de Jaén</a></li>
                        <li><a class="icon icon-social icon-social_linkedin" href="http://www.linkedin.com/company/universidad-de-ja-n" target="_blank" title="El enlace se abrirá en una nueva ventana">Perfil de LinkedIn de la Universidad de Jaén</a></li>
                        <li><a class="icon icon-social icon-social_twitter" href="http://twitter.com/ujaen" target="_blank" title="El enlace se abrirá en una nueva ventana">Perfil de Twitter de la Universidad de Jaén</a></li>
                        <li><a class="icon icon-social icon-social_instagram" href="https://instagram.com/universidadjaen/" target="_blank" title="El enlace se abrirá en una nueva ventana">Perfil de Instagram de la Universidad de Jaén</a></li>
                        <li><a class="icon icon-social icon-social_flickr" href="https://www.flickr.com/photos/101992261@N07/albums/" target="_blank" title="El enlace se abrirá en una nueva ventana">Perfil de Flickr de la Universidad de Jaén</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="uja-footer__separator"><hr class="separator_dark"></div>

        <div class="uja-footer__menu-cei">
            <nav aria-labelledby="footer-menu-cei">
                <h3 id="footer-menu-cei" class="visually-hidden-text">Campus de Excelencia</h3>
                <ul class="uja-footer__menu-cei-list">
                    <li><a class="logo-cei icon-cei" href="http://www.ceipatrimonio.com/" target="_blank" title="El enlace se abrirá en una nueva ventana">Campus de Excelencia Internacional en Patrimonio</a></li>
                    <li><a class="logo-cei icon-ceia3" href="http://www.ceia3.es/" target="_blank" title="El enlace se abrirá en una nueva ventana">Campus de Excelencia Internacional Agroalimentarios</a></li>
                    <li><a class="logo-cei icon-ceicambio" href="http://www.upo.es/ceicambio/" target="_blank" title="El enlace se abrirá en una nueva ventana">Campus de Excelencia Internacional de Medio ambiente, biodiversidad y cambio global</a></li>
                </ul>
            </nav>
        </div>

        <div class="uja-footer__menu-partners">
            <nav aria-labelledby="footer-menu-partners">
                <h3 id="footer-menu-partners" class="visually-hidden-text">Enlaces externos</h3>
                <ul class="uja-footer__menu-partners-list">
                    <li><a class="logo-partner icon-jaen24h" href="http://www.jaen24h.com/" target="_blank" title="El enlace se abrirá en una nueva ventana">Jaén 24 horas</a></li>
                    <li><a class="logo-partner icon-universia" href="http://www.universia.es/" target="_blank" title="El enlace se abrirá en una nueva ventana">Universia</a></li>
                    <li><a class="logo-partner icon-crue" href="http://www.crue.org/SitePages/Inicio.aspx" target="_blank" title="El enlace se abrirá en una nueva ventana">Conferencia de Rectores de las Universidades Españolas</a></li>
                    <li><a class="logo-partner icon-aupa" href="http://www.aupa.info/" target="_blank" title="El enlace se abrirá en una nueva ventana">Asociación de Universidades Públicas Andaluzas</a></li>
                    <li><a class="logo-partner icon-larabida" href="https://grupolarabida.org/" target="_blank" title="El enlace se abrirá en una nueva ventana">Grupo de Universidades Iberoamericanas la Rábida</a></li>
                    <li><a class="logo-partner icon-aenor" href="http://www.ujaen.es/serv/spe/sigcsua/CERTIFICADO_ISO9001-2008.pdf" target="_blank" title="El enlace se abrirá en una nueva ventana">Certificado del Sistema de Gestión de la Calidad</a></li>
                    <li><a class="logo-partner icon-efqm" href="#" target="_blank" title="El enlace se abrirá en una nueva ventana">Certificado de Excelencia Europea EFQM 400+</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>