<!-- 
    Template público del inicio del proyecto.

    Autores:
        - Emilio Sánchez Catalán <esc00019@gmail.com>.

    Version: 1.0.
-->

{% extends "core/base.html" %}


<!-- Título -->
{% block title %}
<header class="container mt-0 mt-sm-4">
    <h1 class="d-none d-sm-block">Bienvenido al listado de projectos</h1>
    <h1 class="d-block d-sm-none">Bienvenido</h1>
</header>
{% endblock title %}

<!-- Contenido -->
{% block content %}
<section class="container bg-white border p-3 p-sm-5 mt-0 mt-sm-4">
    <article id="container-button-init">
        <a id="tfg-button" href="{% url 'public_tfgs_list' %}">
            Trabajos fin de grado
        </a>
        <a id="tfm-button" href="{% url 'public_tfms_list' %}">
            Trabajos fin de master
        </a>
    </article>
</section>
{% endblock content %}