{% extends "core/base.html" %}

{% block title %}
<header class="container px-3 px-sm-5 mt-0 mt-sm-4">
    <h1 class="d-none d-sm-block">Listado de projectos</h1>
    <h1 class="d-block d-sm-none">Projectos</h1>
</header>
{% endblock title %}

{% block content %}
<section class="container border p-3 p-sm-5 mt-0 mt-sm-4">

    <header>
        <form action="" class="d-flex flex-wrap flex-sm-wrap justify-content-between">
            <div class="form-group mx-2 flex-grow-1 flex-sm-grow-0">
            <button for="titleProject" class="btn btn-light btn-block font-weight-bold">
                <i class="fas fa-search mr-2" style="font-size: 15px;"></i>Buscador
            </button>
            </div>
            <div class="form-group mx-2 flex-grow-1">
            <input type="text" class="form-control" placeholder="Título">
            </div>
            <div class="form-group mx-2 flex-grow-1 flex-lg-grow-0">
            <select class="form-control" id="carrerSelected">
                <option selected>Titulación</option>
                <option>Ingeniería telemática</option>
                <option>Ingeniería tecnologías de telecomunicación</option>
                <option>Ingeniería mínas</option>
            </select>
            </div>
        </form>
    </header>

    <article style="overflow-x: scroll">
        <script>
            function gotoProject() { location.href="{% url 'project' %}" }
        </script>
        <table class="table border m-0">
            <thead>
                <tr class="thead-light">
                    <th>Título</th>
                    <th>Títulación</th>
                    <th>Tutor1</th>
                    <th>Tutor2</th>
                </tr>
            </thead>
            <tbody>
                <tr onclick="gotoProject()">
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr onclick="gotoProject()">
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                </tr>
                <tr onclick="gotoProject()">
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
{% endblock content %}