<!-- 
  Template para definir la paginación

  Autores:
    - Emilio Sánchez Catalán <esc00019@gmail.com>.

  Version: 1.0.
-->

{% if is_paginated %}
  <nav>
    <ul class="pagination justify-content-center mb-0 mt-4">

      <!-- Boton hacia atras-->
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      
      <!-- Numeración -->
      {% for i in paginator.page_range %}
      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{i}}">{{ i }}</a>
      </li>
      {% endfor %}

      <!-- Boton siguiente -->
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}