{% extends "core/base.html" %}

{% block content %}
<section class="container border p-4">
    <div class="row">
        <div class="col-md-12">
            <strong>Título:</strong>
            <p>Estudio sobre el uso de las redes definidas por software en las redes de sensores</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Tipo de proyecto:</strong> General
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Modalidad:</strong> Trabajo técnico
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Mención:</strong> Imagen y sonido
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Segundo tutor:</strong> Sí
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <strong>Tutor 1:</strong>
                <p class="pl-4 mt-1">
                    Nombre: Emilio Sánchez Catalán <br>
                    Departemento: Ingeniería de telecomunicaciones <br>
                </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <strong>Tutor 2:</strong>
                <p class="pl-4 mt-1">
                    Nombre: Emilio Sánchez Catalán <br>
                    Departemento: Ingeniería de telecomunicaciones <br>
                </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Trabajo en equipo:</strong> Sí
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <strong>Alumno 1:</strong>
                <p class="pl-4 mt-1">
                    Nombre: Emilio Sánchez Catalán <br>
                    DNI: 23052395T <br>
                    Dirección: Avenida Andalucía nº15, 8h <br>
                    Teléfono: 657844970 <br>
                    Correo-e: esc00019@red.ujaen.es <br>
                </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <strong>Alumno 2:</strong>
                <p class="pl-4 mt-1">
                    Nombre: Emilio Sánchez Catalán <br>
                    DNI: 23052395T <br>
                    Dirección: Avenida Andalucía nº15, 8h <br>
                    Teléfono: 657844970 <br>
                    Correo-e: esc00019@red.ujaen.es <br>
                </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Objetivos:</strong>
            <p class="pl-4 mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris metus, scelerisque eu tellus a, auctor ornare lorem. Quisque consequat augue eu pharetra efficitur. Nam nec elit sit amet metus vestibulum mollis. Etiam metus magna, fermentum non metus quis, ornare lobortis metus. Quisque vitae fermentum nulla. Donec ut posuere mi.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Metodología:</strong>
            <p class="pl-4 mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris metus, scelerisque eu tellus a, auctor ornare lorem. Quisque consequat augue eu pharetra efficitur. Nam nec elit sit amet metus vestibulum mollis. Etiam metus magna, fermentum non metus quis, ornare lobortis metus. Quisque vitae fermentum nulla. Donec ut posuere mi.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Documentos y formatos:</strong>
            <p class="pl-4 mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris metus, scelerisque eu tellus a, auctor ornare lorem. Quisque consequat augue eu pharetra efficitur. Nam nec elit sit amet metus vestibulum mollis. Etiam metus magna, fermentum non metus quis, ornare lobortis metus. Quisque vitae fermentum nulla. Donec ut posuere mi.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>Capacidades:</strong>
            <ul class="mt-1">
                <li>
                    <p>
                        TEL1 - Capacidad de construir, explotar y gestionar las redes, servicios, procesos y aplicaciones de telecomunicaciones, entendidas éstas como sistemas de captación, transporte, representación, procesado, almacenamiento, gestión y presentación de información multimedia, desde el punto de vista de los servicios telemáticos.
                    </p>
                </li>
                <li>
                    <p>
                        TEL3 - Capacidad de construir, explotar y gestionar servicios telemáticos utilizando herramientas analíticas de planificación, de dimensionado y de análisis.
                    </p>
                </li>
                <li>
                    <p>
                        TEL4 - Capacidad de describir, programar, validar y optimizar protocolos e interfaces de comunicación en los diferentes niveles de una arquitectura de redes
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}