{% extends "core/base.html" %}

{% block title %}
<header class="container px-3 px-sm-5 mt-0 mt-sm-4">
    <h1 class="d-none d-sm-block">Listado de {{title}}</h1>
    <h1 class="d-block d-sm-none">Projectos</h1>
</header>
{% endblock title %}

{% block content %}
<section class="container border bg-white p-3 p-sm-5 mt-0 mt-sm-4">
    <header>
        <form action="" class="d-flex flex-wrap flex-sm-wrap justify-content-between">
            <div class="form-group mx-2 flex-grow-1 flex-sm-grow-0">
            <button for="titleProject" class="btn btn-light btn-block font-weight-bold">
                <i class="fas fa-search mr-2" style="font-size: 15px;"></i>Buscador
            </button>
            </div>
            <div class="form-group mx-2 flex-grow-1">
                {{form_filter.name_project}}
            </div>
            <div class="form-group mx-2 flex-grow-1 flex-lg-grow-0">
                {{form_filter.formation_project}}
            </div>
        </form>
    </header>
    <article style="overflow-x: scroll">
        <script>
            function gotoProject() { location.href="" }
        </script>
        <table class="table table-hover border m-0">
            <thead>
                <tr class="thead-light">
                    <th>Título</th>
                    <th>Títulación</th>
                    <th>Tutor1</th>
                    <th>Tutor2</th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                <tr onclick="gotoProject()">
                    <td>{{project.title}}</td>
                    {% if title == "Tfgs" %}
                    <td>{{project.carrers.name}}</td>
                    {% else %}
                    <td>{{project.masters.name}}</td>
                    {% endif %}
                    <td>{{project.tutor1.first_name}}</td>
                    <td>{{project.tutor2.name|default:"NaN"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>
{% endblock content %}