<!--
    Template dedicado a la vista editar del TFM.

    Autores:
        - Emilio Sánchez Catalán <esc00019@gmail.com>.

    Version: 1.0.
-->

{% extends "tfms/tfms_form.html" %}

<!-- Carga de Modulos -->
{% load static %}

<!-- Bloque Scripts-->
{% block scripts %}
<script>
$(document).ready(function(){
    
    // Inicialización del estado del formulario
    inputShowHiddenBlockFunction($("#tutorCheck"), $("#id_tutor2-name"));
    setStudentsTfm()
    cleanEmptySelects()
    cleanFileFieldRequired("curriculum_vitae", "tutor2");

    // Añade la funcionalidades a un evento
    // OCulta y mustra el tutor opcional
    $("#tutorCheck").click(() => {
        inputShowHiddenBlockFunction(
            $("#tutorCheck"),
            $("#id_tutor2-name"),
            [
                $("#tutor2-curriculum_vitae-clear_id"),
                $("#id_tutor2-curriculum_vitae")
            ]
        )
    });

    // Oculta y muestra los campos para que haya mas de un alumno
    $("#alumnoCheck").click(() => {
        setStudentsTfm()
    });

    //Actualiza las areas
    $("#id_tutor2-departament").change(function() {
        let departaments_id = $(this).val()
        getListApi("/api/areas", departaments_id)
            .then(response => {
                updateSelect("id_tutor2-area", response, "Selecciona el area")
            }).catch(error => {
                alert(error)
            })
    })

});
</script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock scripts %}