.bg-primary {
    background-color: #006D38 !important;
}

.fa-plus, .fa-search {
    font-size: 15px;
}

.button-validate-abs {
  position: absolute;
  right: 24px;
  z-index: 999;
}

.bar-validator {
  display: flex;
  justify-content: space-evenly;
  background: #fff;
}
.bar-validator a{
  width: 120px;

}

/* Clase boton en tag A */
a.btn.btn-success, a.btn.btn-success:hover, a.btn.btn-danger, a.btn.btn-danger:hover {
  color: #fff;
}

/* Tabla Ajustes*/
.table th {
    border-bottom: none !important;
    border-top: none !important;
}
.table-crud th {
    white-space: nowrap;
}
.table-crud th:not(:first-child), .table-crud td:not(:first-child){
    text-align: center;
}
.table-crud td:last-child {
    width: 1px;
}
.fa-trash-alt {
    color: #c50f0f;
}
.logo-img {
    max-width: 200px;
}


/* Ajustes Form */
.form-check-label-custom {
    font-weight: bold;
    background-color: #36926b;
    color: #fff;
    border-radius: 4px;
    padding: 1px 5px;
    font-size: 0.9em;
    border: 1px solid #2a624a
}
.form-check {
    margin-bottom: 15px;
}
/* Logo */
.form-signin {
    height: calc(100vh - 80px);
}
.logo-img-singnin {
    max-width: 250px;
}
.form-signin form {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    position: relative;
    bottom: 75px;
}
@media (max-height: 700px) { .form-signin form { bottom: 0px; } }
.form-signin input[type="text"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.form-signin input[type="password"] {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* Switch button */
.switch {
    font-size: 1rem;
    position: relative;
  }
  .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
  }
  .switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
  }
  .switch input + label::before,
  .switch input + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
  }
  .switch input + label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
  }
  .switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
  }
  .switch input:checked + label::before {
    background-color: #36926b;
  }
  .switch input:checked + label::after {
    margin-left: calc(2.375rem * .8);
  }
  .switch input:focus + label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
  }
  .switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
  }
  .switch input:disabled + label::before {
    background-color: #e9ecef;
  }
  .switch.switch-sm {
    font-size: 0.875rem;
  }
  .switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
  }
  .switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * .8) * 2);
  }
  .switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
  }
  .switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * .8);
  }
  .switch.switch-lg {
    font-size: 1.25rem;
  }
  .switch.switch-lg input + label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
  }
  .switch.switch-lg input + label::before {
    width: calc(calc(3rem * .8) * 2);
  }
  .switch.switch-lg input + label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
  }
  .switch.switch-lg input:checked + label::after {
    margin-left: calc(3rem * .8);
  }
  .switch + .switch {
    margin-left: 1rem;
  }


  /* Responsive utils */

  @media (max-width: 767px) {
    .w-sm-50 { width: 50%; }
    .w-sm-100 { width: 100%; }
  }